html body {
  background-color: #272727;
}

.container {
  color: #fff;
  background-color: #272727;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.center-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}