html body {
  background-color: #272727;
  color: #fff;
}

/* DESACTIVAR SELECT Para navegadores modernos */
body {
  user-select: none;
}

/* DESACTIVAR SELECT Para navegadores que utilizan prefijos específicos */
body {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.words-remaining {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 20px;
}

.container {
  background-color: #272727;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.card {
  margin: 5px;
}

.card-body {
  border-radius: 5px;
}

.players {
  margin-bottom: 0;
  margin-top: 10px;
}

.eqrojo {
  background-color: #ff5757;
}

.eqazul {
  background-color: #528fff;
}

.card-title {
  text-align: center;
}

/*Pantalla contador*/
.countdown {
  font-size: 50px;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Pantalla mostrar jugador*/
.player-name,  .round-number {
  font-size: 50px;
  text-align: center;
}

.red {
  color: #ff5757;
}

.blue {
  color: #528fff;
}

/*Pantalla mostrar palabra*/
.playerTime {
  font-size: 24px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(+50%, 0);
}

.container .word {
  font-size: 30px;
  text-align: center;
}

.btn-success, .btn-danger {
  height: 75px;
}

/*Pantalla final puntuación*/
.container .score {
  font-size: 24px;
  text-align: center;
}

.score-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  border: 1px solid #404040;
  overflow: hidden;
  background-color: #404040;
}

.score-table th,
.score-table td {
  padding: 8px;
  text-align: center;
  color: #fff;
}

.score-table .red {
  background-color: #ff5757;
}

.score-table .blue {
  background-color: #528fff;
}
